.App {
    text-align: center;
    background-color: #ebe4e4;
    color: #000;
    min-height: 100vh;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

*{
    box-sizing: border-box;
}

p {
    text-align: center;
    padding: 4rem;
    color: #ccc;
  
}
  
body {
    background: #fff
}
 
.container {
    max-width: 960px ;
    width: 100%;
    margin: 100px auto;
    padding: 100px;
    background: #252323 ; 
} 
  